#titulo{
    color: red;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}  
h4{
    text-align: center;
}

a{
    color:red;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: flex-start;
}

#Sorpresa{
    color: black;
   
}

img{
    /* height alto */
    /* width ancho */
    height:200px; 
    width:130px;
}

.contenedor{
 border: solid red;
 display: flex;
 justify-content: center;
 /* alinear al centro */
 align-items: center;
 /* (margen)padding: 20px; */
}